<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
    href="https://unpkg.com/tabulator-tables@4.5.3/dist/css/tabulator.min.css"
    rel="stylesheet"
  />
  <script
  type="text/javascript"
  src="https://unpkg.com/tabulator-tables@4.5.3/dist/js/tabulator.min.js"
></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./styles/admin.css" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body class="black">
    <nav>
      <div class="nav-wrapper black lighten-1">
        <a href="#!" class="brand-logo">
          <img
            src="logo.png"
            style="height: 80px; width: 80px; margin: 20px; border-radius: 50%"
          />
        </a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="plans"><i class="material-icons">layers</i></a>
          </li>
          <li>
            <a href="users"
              ><i class="material-icons">account_circle</i></a
            >
          </li>
          <li>
            <a href="server"><i class="material-icons">cloud</i></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1 class="white-text">Management</h1>
      
      <h1 class="white-text">Fulfilment Center</h1>
      <div id="example-table"></div>
    
    

      
      <br>
      <h4 class="white-text">
        Discount Codes
      </h4>
       <table class="white-text">
        <thead>
          <tr>
              <th>Code</th>
              <th>Percentage Discount</th>
              <th>Delete</th>
          </tr>
        </thead>

        <tbody>
          <% discounts.forEach((discount) => { %>
             <tr>
            <td><%= discount.code %></td>
            <td><%= discount.amount %></td>
            <td><a href="/sfth/discountdel/<%- discount._id %>">Delete</a></td>
          </tr>
          <%});%>
         
         
        </tbody>
      </table>
      <br>
      <form class="col s12" action="/sfth/discount"  method="POST" id="server">
          <div class="row">
            <div class="input-field col s6">
              <input
                placeholder="Server A"
                id="first_name"
                type="text"
                name="code"
                class="white-text"
              />
              <label for="first_name">Code</label>
            </div>
            <div class="input-field col s6">
              <input
                placeholder="0.25"
                name="amount"
                id="first_name"
                type="text"
                class="white-text"
              />
              <label for="first_name">Discount Amount</label>
            </div>
          <input
            class="btn waves-effect waves-light"
            type="submit"
            name="action"
          >
        </input>
        </form>
    </div>
    <script>
      var tabledata = <%- JSON.stringify(orders) %>;
      var table = new Tabulator("#example-table", {
        height: 400, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data: tabledata, //assign data to table
        layout: "fitColumns", //fit columns to width of table (optional)
        columns: [
          //Define Table Columns
          { title: "Id", field: "_id" },
          { title: "Plan", field: "planName"},
          { title: "Qty", field: "proxyAmount"},
          { title: "Start", field: "startDate"},
          { title: "End", field: "endDate"},
        ],
        rowClick: function(e, row) {
          window.location.href=  `/sfth/fulfil/${row._row.data._id}`;
        }
      });
    </script>
  </body>

</html>
