<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login/assets/style.css" />
    <title>Arrow Proxies | Login</title>
    <style>
      body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas1"> </canvas>
    <nav>
      <ul class="links">
        <li>
          <a href="#" class="bold">
            <img src="./login/assets//Arrow_PNG.png" alt="" class="logo" />
          </a>
        </li>
        <li>
          <a href="#" > Home </a>
        </li>
        <li>
          <a href="#"> Features </a>
        </li>
        <li>
          <a href="./purchase"> Purchase </a>
        </li>
        <li class="login">
          <a href="./login" class="bold">
            <span><img src="./login/assets//Discord-Logo-White(3).svg" alt="" /></span>
            Login
          </a>
        </li>
      </ul>
    </nav>
    <div class="wrapper">
      <div class="loginwrapper">
        <div class="loginsection">
          <div class="logintext bold">
            Log in
          </div>
          <div class="smtext">PLEASE LOG IN BELOW.</div>
  
          <div class="loginbox">
            <p class="feature bold">Please Log in.</p>
  
            <p class="reg">Don't have an account? <a href="./login" class="green">Register here</a>.</p>
            <div class="loginbtn" style="cursor: pointer;" onclick="location.href='./login'"><img src="./login/assets//Discord-Logo-White(3).svg" alt="" >Login</div>
            <p class="text">No personal data but your email and profile image are collected</p>
            <p class="text">Your arrow purchases will be bound and accessible with your Discord
              accounts.</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footercontainer">
        <div class="secone">
          <img src="./login/assets//Arrow_PNG.png" alt="" />
          <p class="light">ARROW PROXIES</p>
        </div>

        <div class="sectwo">
          <a href="#"><div class="footerheader">Menu</div></a>
          <a href="#"> <div class="footerlinks">Home</div></a>
          <a href="#"> <div class="footerlinks">Features</div></a>
          <a href="#"> <div class="footerlinks">Purchase</div></a>
          <a href="#"> <div class="footerlinks">FAQ</div></a>
        </div>

        <div class="secthree">
          <a href="#"> <div class="footerheader">Resources</div></a>
          <a href="#"> <div class="footerlinks">Terms of Policy</div></a>
          <a href="#"> <div class="footerlinks">Privacy Policy</div></a>
        </div>

        <div class="secfour">
          <a href="#"> <div class="footerheader">Get In Touch</div></a>
          <a href="#"><div class="footerlinks">arrowproxies@gmail.com</div></a>
        </div>

        <div class="secfive">
          <a href="#"> <img src="./login/assets//Footer twitter.svg" alt="" /></a>
          <a href="#"><img src="./login/assets//Footer instagram.svg" alt="" /></a>
          <a href="#"> <img src="./login/assets//Footer discord.svg" alt="" /></a>
        </div>
    </footer>
    <script src="./login/assets/js/bg.js"></script>
  </body>
</html>
