<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProxyFarm - Dashboard | View Your Proxies</title>
    <link rel="icon" href="logo.png" type="image/png" sizes="16x16" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="scrollside none">
      <div class="sidebar">
        <img class="logoimg" src="/logo.png" alt="" />

        <div class="links">
          <a href="/">ISP</a>
          <a href="/resi">RESIDENTIAL</a>

          <a href="/purchase">PURCHASE</a>
        </div>
        <div class="socials">
          <div class="mail">
            <img src="./assets/mail.svg" />
          </div>
          <div class="twitter">
            <img src="./assets/twitter.svg" />
          </div>
          <div class="tos">
            <img
              src="https://img.icons8.com/material-rounded/96/ffffff/terms-and-conditions.png"
            />
          </div>
        </div>
        <div class="close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 18 18"
          >
            <path
              fill="#fff"
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="sidebarcontainer">
        <div class="sidebar">
          <img class="logoimg" src="/logo.png" alt="" />

          <div class="links">
            <a href="/">ISP</a>
            <a href="/resi">RESIDENTIAL</a>
            <a href="/purchase">PURCHASE</a>
          </div>
          <div class="socials">
            <div class="mail">
              <img src="./assets/mail.svg" />
            </div>
            <div class="twitter">
              <img src="./assets/twitter.svg" />
            </div>
            <div class="tos">
              <img
                src="https://img.icons8.com/material-rounded/96/ffffff/terms-and-conditions.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="bar">
          <div class="hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </div>
        <div class="flex sp-bt topbar">
          <div class="page">
            <div class="header">ISP</div>
            <div class="smtext">Access your ISP Proxies</div>
          </div>
          <div class="user">
            <img src="<%- discordImage %>" alt="" class="userimg" />
            <span class="name"> <%= discordUsername %> </span>
            <a href="/logout" class="logoutbtn"
              ><img src="/assets/Logout.svg" alt=""
            /></a>
          </div>
        </div>
        <div class="history">
          <div class="scroll" id="content">
            <div class="date">ISP 25 (03/04/2021)</div>
            <div class="proxies">
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
            </div>
            <div class="date">ISP 25 (03/04/2021)</div>
            <div class="proxies">
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
            </div>
            <div class="date">ISP 25 (03/04/2021)</div>
            <div class="proxies">
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
            </div>
            <div class="date">ISP 25 (03/04/2021)</div>
            <div class="proxies">
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
              <p>proxy.proxyfarm.com:123232:redux:react</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
            let burger = document.querySelector(".bar");
            let sidebar = document.querySelector(".scrollside");
            let close = document.querySelector(".close");

            let content = document.getElementById('content');




            const buys = <%- JSON.stringify(buys) %>;


            content.innerHTML = buys.map((k,i) => `
            <div style="display:flex; align-items: center;">
                   <div class="date">${k.planName} (Expires ${new Date(k.endDate).toLocaleDateString(
        'en-gb'
      )})</div>
      <button style="margin-top:0px; height:50px; width: 80px; margin-left:auto;" onclick="copy(${i})">Copy</button>
      </div>
                  <div class="proxies">
                    ${!k.fulfilled ? "<p>Your proxies will be available soon! </p>" : k.proxies.split('\n').map(k => `<p> ${k} </p>`).join('\n')
                    }
                  </div>
            `).join('\n');



            function copy(index) {

              navigator.clipboard.writeText(buys[index].proxies);
            }


            burger.addEventListener("click", () => {
              sidebar.classList.remove("none");
              document.body.classList.add("noscroll");
            });

            close.addEventListener("click", () => {
              sidebar.classList.add("none");
              document.body.classList.remove("noscroll");
            });
    </script>
  </body>
</html>
