<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/assets/bootstrap.css" />
    <link rel="stylesheet" href="/assets/style.css" />

    <title>ProxyFarm - Password Protected</title>
    <link rel="icon" href="/logo.png" type="image/png" sizes="16x16" />
    <style>
      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <div class="wrapper" style="">
      <div class="loginsection">
        <div class="logintext bold">PASSWORD</div>
        <div class="smtext">Enter password to access store.</div>

        <div class="customerdetails" style="margin-bottom: 4rem; width: 95%">
          <form
            id="payment-form"
            action="password"
            method="POST"
            class=""
            style="width: 100%"
          >
            <div class="item">
              <label for="address" class="bold">Password</label>
              <input
                class="form-control"
                type="password"
                name="password"
                id="pass"
                placeholder="Password"
                placeholder="Password"
              />
            </div>

            <button id="sub" class="paybtn bold">
              <div class="spinner hidden" id="spinner"></div>
              <span id="button-text">ENTER</span><span id="order-amount"></span>
            </button>
            <!-- <button class="paybtn bold">PAY $77.54</button> -->
          </form>
        </div>
      </div>
    </div>

    <script src="./login/assets/js/bg.js"></script>
  </body>
  <script>
    document.getElementById("sub").addEventListener("click", (e) => {
      e.preventDefault();
      document.forms[0].submit();
    });
  </script>
</html>
