<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>ProxyFarm - Buy | Privacy Policy</title>
    <link rel="icon" href="/logo.png" type="image/png" sizes="16x16" />
  </head>
  <body>
    <div class="scrollside none">
      <div class="sidebar">
        <img
          class="logoimg"
          src="/logo.png"
          alt=""
          onclick="window.location = '/'"
        />
        <div class="links">
          <a href="./tos">TERMS OF SERVICE</a>
          <a href="./privacy">PRIVACY POLICY</a>
          <a href="./refund">REFUND POLICY</a>
        </div>
        <div class="socials">
          <div class="mail">
            <img src="./assets/mail.svg" />
          </div>
          <div class="twitter">
            <img src="./assets/twitter.svg" />
          </div>
          <div class="tos">
            <img
              src="https://img.icons8.com/material-rounded/96/ffffff/terms-and-conditions.png"
            />
          </div>
        </div>
        <div class="close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 18 18"
          >
            <path
              fill="#fff"
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="sidebarcontainer">
        <div class="sidebar">
          <img
            class="logoimg"
            src="/logo.png"
            alt=""
            onclick="window.location = '/'"
          />
          <div class="links">
            <a href="./tos">TERMS OF SERVICE</a>
            <a href="./privacy">PRIVACY POLICY</a>
            <a href="./refund">REFUND POLICY</a>
          </div>
          <div class="socials">
            <div
              class="mail"
              onclick="window.location='mailto:support@proxy-farm.com'"
            >
              <img src="./assets/mail.svg" />
            </div>
            <div
              class="twitter"
              onclick="window.location= 'https://twitter.com/proxyfarm'"
            >
              <img src="./assets/twitter.svg" />
            </div>
            <div class="tos" onclick="window.location= './tos'">
              <img
                src="https://img.icons8.com/material-rounded/96/ffffff/terms-and-conditions.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="bar">
          <div class="hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </div>
        <div class="flex sp-bt topbar">
          <div class="page">
            <div class="header">Privacy Policy</div>
            <div class="smtext">Please read our privacy policy carefully.</div>
          </div>
          <div class="user"></div>
        </div>
        <div class="service privacy">
          <p>
            THIS PRIVACY POLICY DESCRIBES HOW YOUR PERSONAL INFORMATION IS
            COLLECTED, USED, AND SHARED WHEN YOU VISIT OR MAKE A PURCHASE FROM
            PROXYFARM LLC.
          </p>
          <p>
            PERSONAL INFORMATION WE COLLECT AS OF RIGHT NOW, THE SITE IS NOT
            LIVE AND THE ONLY PERSONAL INFORMATION WE COLLECT IS EMAIL, LAST 4
            DIGITS OF CARD, PAYMENT METHOD, AND CARD ISSUER. (ORDER INFORMATION)
          </p>
          <p>
            WE USE THE ORDER INFORMATION THAT WE COLLECT GENERALLY TO FULFILL
            ANY ORDERS PLACED THROUGH THE SITE (INCLUDING PROCESSING YOUR
            PAYMENT INFORMATION, ARRANGING FOR SHIPPING, AND PROVIDING YOU WITH
            INVOICES AND/OR ORDER CONFIRMATIONS). ADDITIONALLY, WE USE THIS
            ORDER INFORMATION TO:
          </p>
          <p>
            COMMUNICATE WITH YOU; SCREEN OUR ORDERS FOR POTENTIAL RISK OR FRAUD;
            AND WHEN IN LINE WITH THE PREFERENCES YOU HAVE SHARED WITH US,
            PROVIDE YOU WITH INFORMATION OR ADVERTISING RELATING TO OUR PRODUCTS
            OR SERVICES. SHARING YOUR PERSONAL INFORMATION WE SHARE YOUR
            PERSONAL INFORMATION WITH THIRD PARTIES TO HELP US USE YOUR PERSONAL
            INFORMATION, AS DESCRIBED ABOVE. FOR EXAMPLE, WE USE STRIPE TO POWER
            OUR ONLINE STORE--YOU CAN READ MORE ABOUT HOW STRIPE USES YOUR
            PERSONAL INFORMATION HERE:
            <a href="#">HTTPS://STRIPE.COM/LEGAL</a> WE ALSO USE GOOGLE
            ANALYTICS TO HELP US UNDERSTAND HOW OUR CUSTOMERS USE THE SITE --
            YOU CAN READ MORE ABOUT HOW GOOGLE USES YOUR PERSONAL INFORMATION
            HERE:
            <a href="#">HTTPS://WWW.GOOGLE.COM/INTL/EN/POLICIES/PRIVACY/.</a>
            YOU CAN ALSO OPT-OUT OF GOOGLE ANALYTICS HERE:
            <a href="#">HTTPS://TOOLS.GOOGLE.COM/DLPAGE/GAOPTOUT.</a>
          </p>
          <p>
            FINALLY, WE MAY ALSO SHARE YOUR PERSONAL INFORMATION TO COMPLY WITH
            APPLICABLE LAWS AND REGULATIONS, TO RESPOND TO A SUBPOENA, SEARCH
            WARRANT OR OTHER LAWFUL REQUEST FOR INFORMATION WE RECEIVE, OR TO
            OTHERWISE PROTECT OUR RIGHTS. BEHAVIOURAL ADVERTISING AS DESCRIBED
            ABOVE, WE USE YOUR PERSONAL INFORMATION TO PROVIDE YOU WITH TARGETED
            ADVERTISEMENTS OR MARKETING COMMUNICATIONS WE BELIEVE MAY BE OF
            INTEREST TO YOU. FOR MORE INFORMATION ABOUT HOW TARGETED ADVERTISING
            WORKS, YOU CAN VISIT THE NETWORK ADVERTISING INITIATIVE’S (“NAI”)
            EDUCATIONAL PAGE AT
            <a href="#">
              HTTP://WWW.NETWORKADVERTISING.ORG/UNDERSTANDING-ONLINE-ADVERTISING/HOW-DOES-IT-WORK.
            </a>
            YOU CAN OPT OUT OF TARGETED ADVERTISING BY USING THE LINKS BELOW:
            FACEBOOK:
            <a href="#">HTTPS://WWW.FACEBOOK.COM/SETTINGS/?TAB=ADS</a> GOOGLE:
            <a href="#"> HTTPS://WWW.GOOGLE.COM/SETTINGS/ADS/ANONYMOUS </a>
            BING:
            <a href="#">
              HTTPS://ADVERTISE.BINGADS.MICROSOFT.COM/EN-US/RESOURCES/POLICIES/PERSONALIZED-ADS
            </a>
            ADDITIONALLY, YOU CAN OPT OUT OF SOME OF THESE SERVICES BY VISITING
            THE DIGITAL ADVERTISING ALLIANCE’S OPT-OUT PORTAL AT:
            <a href="#">HTTP://OPTOUT.ABOUTADS.INFO/</a>. DO NOT TRACK PLEASE
            NOTE THAT WE DO NOT ALTER OUR SITE’S DATA COLLECTION AND USE
            PRACTICES WHEN WE SEE A DO NOT TRACK SIGNAL FROM YOUR BROWSER. YOUR
            RIGHTS IF YOU ARE A EUROPEAN RESIDENT, YOU HAVE THE RIGHT TO ACCESS
            PERSONAL INFORMATION WE HOLD ABOUT YOU AND TO ASK THAT YOUR PERSONAL
            INFORMATION BE CORRECTED, UPDATED, OR DELETED. IF YOU WOULD LIKE TO
            EXERCISE THIS RIGHT, PLEASE CONTACT US THROUGH THE CONTACT
            INFORMATION BELOW. ADDITIONALLY, IF YOU ARE A EUROPEAN RESIDENT WE
            NOTE THAT WE ARE PROCESSING YOUR INFORMATION IN ORDER TO FULFILL
            CONTRACTS WE MIGHT HAVE WITH YOU OR OTHERWISE TO PURSUE OUR
            LEGITIMATE BUSINESS INTERESTS LISTED ABOVE. ADDITIONALLY, PLEASE
            NOTE THAT YOUR INFORMATION WILL BE TRANSFERRED OUTSIDE OF EUROPE,
            INCLUDING TO CANADA AND THE UNITED STATES. DATA RETENTION WHEN YOU
            PLACE AN ORDER, WE WILL MAINTAIN YOUR ORDER INFORMATION FOR OUR
            RECORDS UNLESS AND UNTIL YOU ASK US TO DELETE THIS INFORMATION.
            CHANGES WE MAY UPDATE THIS PRIVACY POLICY FROM TIME TO TIME IN ORDER
            TO REFLECT, FOR EXAMPLE, CHANGES TO OUR PRACTICES OR FOR OTHER
            OPERATIONAL, LEGAL OR REGULATORY REASONS. MINORS PRODUCTS ARE NOT
            INTENDED FOR INDIVIDUALS UNDER THE AGE OF 18. CONTACT US FOR MORE
            INFORMATION ABOUT OUR PRIVACY PRACTICES, IF YOU HAVE QUESTIONS, OR
            IF YOU WOULD LIKE TO MAKE A COMPLAINT, PLEASE CONTACT US BY E‑MAIL
            AT <a href="#">SUPPORT@SPAP.XYZ</a>.
          </p>
        </div>
      </div>
    </div>
    <script>
      let burger = document.querySelector(".bar");
      let sidebar = document.querySelector(".scrollside");
      let close = document.querySelector(".close");

      burger.addEventListener("click", () => {
        sidebar.classList.remove("none");
      });

      close.addEventListener("click", () => {
        sidebar.classList.add("none");
      });
    </script>
  </body>
</html>
