<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>ProxyFarm - Buy Proxies</title>
    <link rel="icon" href="logo.png" type="image/png" sizes="16x16" />
  </head>
  <body>
    <div class="scrollside none">
      <div class="sidebar">
        <img class="logoimg" src="/logo.png" alt="" />

        <div class="links">
          <a href="/">ISP</a>
          <a href="/resi">RESIDENTIAL</a>

          <a href="/purchase">PURCHASE</a>
        </div>
        <div class="socials">
          <div
            class="mail"
            onclick="window.location='mailto:support@proxy-farm.com'"
          >
            <img src="./assets/mail.svg" />
          </div>
          <div
            class="twitter"
            onclick="window.location= 'https://twitter.com/proxyfarm'"
          >
            <img src="./assets/twitter.svg" />
          </div>
          <div class="tos" onclick="window.location= './tos'">
            <img
              src="https://img.icons8.com/material-rounded/96/ffffff/terms-and-conditions.png"
            />
          </div>
        </div>
        <div class="close">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            viewBox="0 0 18 18"
          >
            <path
              fill="#fff"
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
            />
          </svg>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="sidebarcontainer">
        <div class="sidebar">
          <img class="logoimg" src="/logo.png" alt="" />

          <div class="links">
            <a href="/">ISP</a>
            <a href="/resi">RESIDENTIAL</a>
            <a href="/purchase">PURCHASE</a>
          </div>
          <div class="socials">
            <div
              class="mail"
              onclick="window.location='mailto:support@proxy-farm.com'"
            >
              <img src="./assets/mail.svg" />
            </div>
            <div
              class="twitter"
              onclick="window.location= 'https://twitter.com/proxyfarm'"
            >
              <img src="./assets/twitter.svg" />
            </div>
            <div class="tos" onclick="window.location= './tos'">
              <img
                src="https://img.icons8.com/material-rounded/96/ffffff/terms-and-conditions.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="bar">
          <div class="hamburger">
            <div class="hamburger-box">
              <div class="hamburger-inner"></div>
            </div>
          </div>
        </div>
        <div class="flex sp-bt topbar">
          <div class="page">
            <div class="header">Purchase</div>
            <div class="smtext">Buy Proxy Farm’s Premium Sneaker Proxies</div>
          </div>

          <div class="user">
            <img src="<%- user.discordImage %>" alt="" class="userimg" />
            <span class="name"> <%= user.discordUsername %> </span>
            <a href="/logout" class="logoutbtn"
              ><img src="/assets/Logout.svg" alt=""
            /></a>
          </div>
        </div>
        <div class="plansgrid">
          <div class="isp">
            <div class="smheader flex al-ce">
              <img src="./assets/grn.svg" alt="" />
              <span>ISP Proxies</span>
            </div>
            <div class="features">
              <p>No data restrictions</p>
              <p>
                Proxies are hosted on trusted IPs from many Internet Service
                Providers
              </p>
              <p>Instant Delivery</p>
              <p>Private proxies that only you can access</p>
              <p>Monthly payments to keep your proxies over multiple months</p>
              <p>Username:password authentication</p>
            </div>
            <div class="cont_select_center">
              <div class="select_mate" data-mate-select="active">
                <div class="label">Plan</div>

                <select
                  name=""
                  onchange="ok(this)"
                  onclick="return false;"
                  id="plans"
                ></select>
                <p class="selecionado_opcion" onclick="open_select(this)"></p>
                <span onclick="open_select(this)" class="icon_select_mate"
                  ><svg
                    fill="#000000"
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
                    <path d="M0-.75h24v24H0z" fill="none" /></svg
                ></span>
                <div class="cont_list_select_mate">
                  <ul class="cont_select_int"></ul>
                </div>
              </div>
            </div>
            <button id="buyButton">$50 PURCHASE</button>
          </div>
          <div class="resi">
            <div class="smheader al-ce flex">
              <svg
                width="52"
                height="56"
                viewBox="0 0 52 56"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.5 48.7649H45.5"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M8.66675 48.7649V23.2214L14.0834 12.7718L26.0001 6.96643L37.9167 12.7718L43.3334 23.2214V48.7649"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M26.0001 25.5436C28.3933 25.5436 30.3334 23.4642 30.3334 20.8993C30.3334 18.3343 28.3933 16.255 26.0001 16.255C23.6068 16.255 21.6667 18.3343 21.6667 20.8993C21.6667 23.4642 23.6068 25.5436 26.0001 25.5436Z"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M19.5 48.7649V37.1542C19.5 36.5383 19.7283 35.9477 20.1346 35.5122C20.5409 35.0767 21.092 34.832 21.6667 34.832H30.3333C30.908 34.832 31.4591 35.0767 31.8654 35.5122C32.2717 35.9477 32.5 36.5383 32.5 37.1542V48.7649"
                  stroke="black"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span>Residential</span>
            </div>
            <div class="features">
              <p>No data restrictions</p>
              <p>
                Proxies are hosted on trusted IPs from many Internet Service
                Providers
              </p>
              <p>Instant Delivery</p>
              <p>Private proxies that only you can access</p>
              <p>Monthly payments to keep your proxies over multiple months</p>
              <p>Username:password authentication</p>
            </div>
            <div class="cont_select_center">
              <div class="select_mate" data-mate-select="active">
                <div class="label">Data</div>

                <select name="" onchange="" onclick="return false;" id="">
                  <option value="">Select data pack</option>
                </select>
                <p class="selecionado_opcion" onclick="open_select(this)"></p>
                <span onclick="open_select(this)" class="icon_select_mate"
                  ><svg
                    fill="#000000"
                    height="24"
                    viewBox="0 0 24 24"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z" />
                    <path d="M0-.75h24v24H0z" fill="none" /></svg
                ></span>
                <div class="cont_list_select_mate">
                  <ul class="cont_select_int"></ul>
                </div>
              </div>
            </div>
            <button class="inactive">$50 PURCHASE</button>
          </div>
        </div>
        <div class="note">
          Discount count codes can be entered in the next stage of purchase
          please read our TOS before buying
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
      integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
      crossorigin="anonymous"
    ></script>

    <script>
       const apsAll = _.sortBy(
         <%- JSON.stringify(publicProds) %>,
       ["proxyQuantity"]
       );


       console.log(apsAll);

       const plansSelector = document.getElementById("plans");
       const buyButton = document.getElementById("buyButton");
       let selectedPlan = 0;

       plansSelector.innerHTML = apsAll.map((k,i) => `<option value="${i}"> ${k.planName} </option>`).join("\n");



       function selectPlan(index) {
         let sPlan = apsAll[index];

         let planId  = apsAll[selectedPlan]._id;
         if(sPlan.stock > 0) {
           buyButton.innerHTML = `$${sPlan.planPrice} Purchase`
         }
         else {
           buyButton.innerHTML = `Out of Stock`
         }
       }


       buyButton.addEventListener('click', () => {
         if(apsAll[selectedPlan].stock > 0) {
           let planId  = apsAll[selectedPlan]._id;
           window.location = `/buy/${planId}`;
         }
       });


       selectPlan(selectedPlan);



       let burger = document.querySelector(".bar");
       let sidebar = document.querySelector(".scrollside");
       let close = document.querySelector(".close");


       function ok(e) {
         selectPlan(e.value);
         selectedPlan = e.value;

       }

      burger.addEventListener("click", () => {
         sidebar.classList.remove("none");
         document.body.classList.add("noscroll");
       });

       close.addEventListener("click", () => {
         sidebar.classList.add("none");
         document.body.classList.remove("noscroll");
       });
    </script>

    <script src="./select.js"></script>
  </body>
</html>
