<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./assets/style.css" />
    <title>ProxyFarm - Checkout Completed</title>
    <link rel="icon" href="logo.png" type="image/png" sizes="16x16" />
    <style>
      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="loginwrapper">
        <div class="loginsection">
          <div class="logintext bold">Success!</div>
          <div class="smtext">Thank you for shopping with us.</div>

          <div class="loginbox success">
            <img src="./assets/Checkbox.svg" alt="" />
            <p class="feature bold">Your checkout is complete.</p>

            <p class="text">
              Your order is now complete and accessible on
              <a href="./" class="green">your dashboard. </a>.
            </p>
            <p class="text">
              If there is a problem with your purchase, please contact our
              support team in Discord..
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/bg.js"></script>
  </body>
</html>
