<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/style.css" />
    <title>Checkout Completed!</title>
    <style>
      body{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    </style>
  </head>
  <body>
    <canvas id="canvas1"> </canvas>
 
    <div class="wrapper">
      <div class="loginwrapper">
        <div class="loginsection">
          <div class="logintext bold">
            Success!
          </div>
          <div class="smtext">Thank you for shopping with us.</div>
  
          <div class="loginbox success">
            <img src="./assets/Checkbox.svg" alt="">
            <p class="feature bold">Your checkout is complete.</p>

            <p class="text">Your order is now complete and 
              accessible on <a href="./" class="green">your dashboard.
              </a>.</p>
            <p class="text">If there is a problem with your purchase,
              please contact our support team in Discord..</p>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footercontainer">
        <div class="secone">
          <img src="./assets/Arrow_PNG.png" alt="" />
          <p class="light">ARROW PROXIES</p>
        </div>

        <div class="sectwo">
          <a href="#"><div class="footerheader">Menu</div></a>
          <a href="#"> <div class="footerlinks">Home</div></a>
          <a href="#"> <div class="footerlinks">Features</div></a>
          <a href="#"> <div class="footerlinks">Purchase</div></a>
          <a href="#"> <div class="footerlinks">FAQ</div></a>
        </div>

        <div class="secthree">
          <a href="#"> <div class="footerheader">Resources</div></a>
          <a href="#"> <div class="footerlinks">Terms of Policy</div></a>
          <a href="#"> <div class="footerlinks">Privacy Policy</div></a>
        </div>

        <div class="secfour">
          <a href="#"> <div class="footerheader">Get In Touch</div></a>
          <a href="#"><div class="footerlinks">arrowproxies@gmail.com</div></a>
        </div>

        <div class="secfive">
          <a href="#"> <img src="./assets/Footer twitter.svg" alt="" /></a>
          <a href="#"><img src="./assets/Footer instagram.svg" alt="" /></a>
          <a href="#"> <img src="./assets/Footer discord.svg" alt="" /></a>
        </div>
    </footer>
    <script src="./assets/js/bg.js"></script>
  </body>
</html>
